*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    padding: 10px;
    background: green;
    gap: 10px;
    /* flex-direction: row; */
    justify-content: center;
    height: 100vh;
    /* align-items: baseline; */
    align-content: center;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
}

.item {
    background: lightblue;
    padding: 10px;
    width: 300px;
}

.montainer {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.child {
    flex-basis: 100%;
    background: limegreen;
}

.montainer > .child:first-child {
    order: 2;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    align-self: center;
}

.montainer > .child:nth-child(2) {
    order: 4;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    align-self: center;
}

.montainer > .child:nth-child(3) {
    order: 1;
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
    align-self: center;
}

.montainer > .child:last-child {
    order: 3;
    /* flex-grow: 4; */
    /* flex-shrink: 4; */
    align-self: center;
}