*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link {
    display: inline-block;
    width: 300px;
    background: yellow;
    margin-left: auto;
}

.para {
    width: 300px;
    height: 100px;
    margin: auto;
    padding: 10px;
    border: 1px solid #000;
    /* overflow: scroll; */
    overflow-y: scroll;
}

/* .div1, .div2 {
    width: 300px;
    border: 1px solid #000;
    margin: 20px;
    padding: 20px;
    float: right;
} */

.float-div {
    width: 600px;
    padding: 20px;
    border: 1px solid #000;
    margin: 20px auto;
}

.float-div > img {
    width: 300px;
    float: left;
    clear: both;
    margin-right: 10px;
}

.pos {
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
    /* z-index: 10; */
}

.pos:hover {
    top: 50px;
    right: -50px;
}

.pos2  {
    width: 200px;
    height: 200px;
    background: red;
    position: relative;
    /* z-index: 20; */
}

.child {
    width: 100px;
    height: 100px;
    background: lightblue;
    position: absolute;
    top: 20px;
    right: -20px;
}

.pos3  {
    width: 50px;
    height: 50px;
    background: #000;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.space {
    width: 100%;
    height: 100vh;
}

.pos4 {
    width: 60px;
    height: 400px;
    background: yellow;
}

.child2 {
    width: 100%;
    height: 60px;
    background: green;
    position: sticky;
    top: 20px;
}