*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #ff9a9e);
    display: grid;
    padding: 20px;
    gap: 20px;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 2fr repeat(3, 1fr); */
}

.container > div {
    background: linear-gradient(45deg, #a18cd1, #fbc2eb, #fbc2eb, #a18cd1);
    box-shadow: 0 0px 20px #000;
    font-size: 48px;
    display: grid;
    place-items: center;
}

.container > div:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.container > div:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.container > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.container > div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #000, #fff, #000);
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-areas: "area1 area1 area2 area2 area3"
                         "area4 area5 area6 area6 area3"
                         "area4 area8 area6 area6 area9"
                         "area7 area8 area6 area6 area9";
}

.main > div {
    background: linear-gradient(45deg, orange, yellow, yellow, orange);
    font-size: 40px;
    display: grid;
    place-items: center;
}

.main > div:first-child {
    grid-area: area1;
}

.main > div:nth-child(2) {
    grid-area: area2;
}

.main > div:nth-child(3) {
    grid-area: area3;
}

.main > div:nth-child(4) {
    grid-area: area4;
}

.main > div:nth-child(5) {
    grid-area: area5;
}

.main > div:nth-child(6) {
    grid-area: area6;
}

.main > div:nth-child(7) {
    grid-area: area7;
}

.main > div:nth-child(8) {
    grid-area: area8;
}

.main > div:last-child {
    grid-area: area9;
}
